<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Qwotable"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31" >

        <activity
            android:name=".activities.Prescreen"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/Theme.App.Starting" />
        <activity
            android:name=".activities.OnBoardingScreen"
            android:exported="true"
            android:screenOrientation="locked" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="android.supports_size_changes"
                android:value="false" />
        </activity>
        <activity
            android:name=".activities.Person"
            android:exported="false"
            android:screenOrientation="locked" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.Settings"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="locked" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="locked" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".service.InternetService"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO" />
    </application>

</manifest>